.listContainer {
    min-height: 60vh;
    .items {
        padding: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        .note {
            width: 240px;
            border: 2px solid $text-borderColor;
            margin: 0.2rem;
            border-radius: 10px;
            padding: 1rem;
            &:hover {
                animation-name: bounce-6;
                animation-timing-function: ease;
                animation-duration: 1.2s;
            }
        }
        @keyframes bounce-6 {
            0% {
                transform: scale(1, 1) translateY(0);
            }
            50% {
                transform: scale(0.90, 0.90) translateY(0);
            }
            100% {
                transform: scale(1, 1) translateY(0);
            }
        }
        .toolbar-container {
            .toolbar {
                display: flex;
                margin-top: 1em;
                .toolbar-trash {
                    cursor: pointer;
                }
                .toolbar-color {
                    cursor: pointer;
                    
                }
            }
        }
    }
    .color-tooltip {
        border-bottom: 2px solid #fff;
        position: absolute;
        top: 40px;
        background: #fff;
        border: 1px solid black;
        left: 0;
        z-index: 20;
        border-radius: 5px;
        display: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        padding: 5px 7px 3px;
        width: 136px;
        height: 40px;
        justify-content: space-between;
        .color-option {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid #dedede;
        }
        #orange {
            background: #fbbc04;
        }
        #green {
            background: #90ee90;
        }
        #gray {
            background: #3c3f43;
        }
    }
}