button {
    /*  width: 20%;
    min-width: 48px;
    min-height: 48px;*/
    border: 2px solid $text-borderColor;
    border-radius: 10px;
    outline: none;
    background-color: $gray;
    padding: 0.2rem;
    &:hover,
    &:focus {
        animation: slidein 1s;
    }
}

@keyframes slidein {
    100% {
        background-color: $blue;
    }
}