.slides {
    max-width: 800px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    background: var(--pink);
    display: grid;
    width: 100%;
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: roboto;
    transition: all 0.25s;
    /* transform: translateX(200%);*/
}

.controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
    grid-gap: 2px;
}

.goToNext {
    background: var(--pink);
    padding: 0.5em;
}

.goToPrev {
    background: var(--pink);
}

.dog-slider {
    margin-top: 1em;
}

.slide.next+.slide {
    transform: translateX(200%);
}

.slide.prev {
    z-index: 10;
    transform: translateX(-100%);
}

.slide.current {
    z-index: 10;
    transform: translateX(0);
}

.slide.next {
    z-index: 10;
    transform: translateX(100%);
}