  $bg-color: #4a4a4a;
  $btn-color: #aa2525;
  * {
      margin: 0;
      padding: 0;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 1.125rem;
  }
  
  html,
  body {
      color: #202134;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0;
      padding: 0;
      line-height: 1.5rem;
      height: 100vh;
  }
  .switch__label{
font-size: 1rem;
  display: flex;
  align-items: center;
  }
.switch__input{
width:1em;
height:1em;
opacity:0;
position:absolute;
}

.switch{
    position:relative;
    display:inline-block;
    background:black;
    //#dcdcdc;
    width:3em;
height:2rem;
border-radius: 1em;
box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

}
.switch:after{
    content:"";
    position:absolute;
    display:block;
    background-color:white;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin: 5px 2px;
}
.switch__input:checked + .switch:after {
left: 1.5rem;
//filter:invert(100%);

}
.switch__input:checked + .switch{
//background:#dcdcdc;
filter:invert(100%);
}
  .modal {
      display: none;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 1;
      background-color: rgba(229, 229, 229, 0.5);
      position: fixed;
  }
  
  .modal-content {
      top: 50%;
      left: 50%;
      position: absolute;
      background-color: white;
      width: 24rem;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
  }
  
  header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
  }
  
  .open-modal {
      display: block;
  }
  
  .container {
      border-radius: 8px;
      border: 0.5px solid #d3d3d3;
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
      margin: 32px auto 16px auto;
      max-width: 496px;
      #form {
          position: relative;
          border: none;
          border-radius: 8px;
      }
      #note-text {
          display: none;
      }
      .item {
          border-radius: 1px solid grey;
          width: 100%;
          min-height: 3rem;
          padding-left: 0.3em;
          font-size: 0.875rem;
      }
      #form-buttons {
          display: none;
      }
      .form-open {
          display: block;
      }
      .edit-btn,
      .add-btn {
          font-family: sans-serif;
          font-size: 0.9rem;
          text-decoration: none;
          text-transform: uppercase;
          background-color: $btn-color;
          border: 1px solid #4a4a4a;
          color: white;
          cursor: pointer;
      }
      .btn:hover {
          border: 1px solid #ababab;
          color: #2c2c2c;
          font-size: 1.1rem;
      }
      .link {
          text-decoration: none;
          color: white;
          font-size: 1.1rem;
          margin: 0.5rem;
          transition: all 500ms;
      }
      .name {
          font-weight: 800;
      }
      .link:hover,
      .link:focus {
          color: #fff582;
      }
      .name-input-container {
          margin: 1em;
      }
  }
  
  #notes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .note {
          background: #3c3f43;
          display: flex;
          padding: 0.2em 1em;
          border-radius: 12px;
          flex-direction: column;
          justify-content: space-between;
          margin: 16px;
          width: 240px;
          border-color: #e0e0e0;
          border: 1px solid #d3d3d3;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          color: white;
          font-weight: 400;
          font-size: 1.125rem;
          .toolbar {
              display: flex;
              .toolbar-trash {
                  cursor: pointer;
              }
              .toolbar-color {
                  cursor: pointer;
              }
          }
      }
  }
  
  .color-tooltip {
      border-bottom: 2px solid #fff;
      position: absolute;
      top: 40px;
      background: #fff;
      border: 1px solid black;
      left: 0;
      z-index: 20;
      border-radius: 5px;
      display: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      padding: 5px 7px 3px;
      width: 136px;
      height: 40px;
      justify-content: space-between;
      .color-option {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 1px solid #dedede;
      }
      #orange {
          background: #fbbc04;
      }
      #green {
          background: #90ee90;
      }
      #gray {
          background: #3c3f43;
      }
  }
  
  .items {
      display: flex;
      justify-content: center;
      margin: 0 auto;
  }
  
  @media (min-width: 1000px) {}
  
  .slider {
      background-color: blue;
      .slide1 {
          background-color: aquamarine;
          width: 100%;
          height: 100%;
      }
  }